&.login-page {
    background: url(../images/login.jpg) no-repeat center center fixed;
    background-size: 100% auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .panel-default {
        background: rgba(255, 255, 255, 0.3);
        margin-top: 30px;
    }
    .axiom-logo {
        background: none repeat scroll 0 0 #F1F3F8;
        text-align: center;
        padding: 20px;
        img {
            &.main {
                width: 250px !important;
                height: auto !important;
            }
        }
    }
    .bifocal-logo {
        margin-bottom: -30px;
        background: none repeat scroll 0 0 #F1F3F8;
        text-align: center;
        padding: 20px;
    }
}