
.panel-kpis {
    h4 {
        overflow: hidden;
        border-bottom: 1px solid #999;
        border-top: 1px solid #999;
        background: #eee;
        a {
            clear: both;
            float: left;
            width: 80%;
            padding: 15px 15px 15px 10px;
            color: #333;
            .glyphicon;
            .glyphicon-chevron-up;
            font-family: 'Glyphicons Halflings';
            top: 0;
            .title {
                font-family: @font-family-base;
            }
            &:hover {
                color: #222;
                text-decoration: none;
            }
            &.collapsed {
                .glyphicon;
                .glyphicon-chevron-down;
                top: 0;
            }
        }
        span.glyphicon {
            width: 20%;
            text-align: center;
            padding: 15px 0;
            cursor: pointer;
        }
    }
    .panel-collapse {
        clear: both;
        float: left;
        padding: 0 0 0 30px;
        width: 100%;
        ul {
            list-style: none outside none;
            margin: 0;
            padding: 5px 0;
            width: 100%;
            float: left;
            li {
                padding: 5px 0 5px 20px;
                float: left;
                width: 100%;
                a {
                    width: 100%;
                    float: left;
                    color: #fff;
                    &:hover {
                        text-decoration: none;
                        color: darken(@brand-primary, 15%);
                    }
                }
                &.selected {
                    background: @brand-primary;
                    color: @white;
                    border-radius: 20px 0 0 20px;
                    a {
                        &:hover {
                            text-decoration: none;
                            color: @white;
                        }
                    }
                }
            }
        }
    }
    &.filters {
        span.glyphicon {
            width: 10%;
        }

    }
}

#full-page-one {
    height: 200px;
    overflow-y: auto;
    padding: 0 0 0 20px !important;
}

.sidebar-toggle {
    border: medium none;
    float: left;
    height: 41px;
    width: 40px;
    background: @brand-primary;
    &:hover {
        background: darken(@brand-primary, 15%);
    }
    .icon-bar {
        border-radius: 1px;
        background: @white;
        display: block;
        height: 2px;
        width: 15px;
        margin: 4px auto;
    }
}

.filter-toggle {
    background: @gray-dark;
    border: medium none;
    float: left;
    height: 30px;
    width: 100%;
    &:hover {
        background: gray;
    }
    .icon-bar {
        border-radius: 1px;
        background: @white;
        display: block;
        height: 2px;
        width: 15px;
        margin: 4px auto;
    }
}

.left-bar-switch {
    z-index: 11;
    position: fixed;
    overflow-y: auto;
    top: 43px;
    background: @gray-dark;
    height: 88%;
    @media (max-width: @screen-xs-max) {
        &.col-sm-1, &.col-xs-1 {
            .filter-toggle {
                display: block;
            }
            .panel-title {
                a {
                    display: none;
                }
                .glyphicon {
                    text-align: center;
                    width: 100%;
                }
                .title {
                    display: none;
                }
            }
            .panel-collapse {
                display: none;
            }
        }

        &.col-sm-3, &.col-xs-6 {
            .filter-toggle {
                display: block;
            }
            .panel-title {
                a {
                    display: inline;
                }
                .title {
                    display: inline;
                }
            }
        }
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        &.col-sm-1, &.col-xs-1 {
            .filter-toggle {
                display: block;
            }
            .panel-title {
                a {
                    display: none;
                }
                .glyphicon {
                    text-align: center;
                    width: 100%;
                }
                .title {
                    display: none;
                }
            }
            .panel-collapse {
                display: none;
            }
        }

        &.col-sm-3, &.col-xs-6 {
            .filter-toggle {
                display: block;
            }
            .panel-title {
                a {
                    display: inline;
                }
                .title {
                    display: inline;
                }
            }
        }
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        .filter-toggle {
            display: none;
        }

        .panel-title {
            a {
                display: inline;
            }
            .title {
                display: inline;
            }
        }
    }
    @media (min-width: @screen-lg-min) {
        .filter-toggle {
            display: none;
        }

        .panel-title {
            a {
                display: inline;
            }
            .title {
                display: inline;
            }
        }
    }
    .glyphicon {
        float: right;
        &.glyphicon-chevron-left {
            padding: 10px 14px 0 0;
            top: 43px;
        }
        &.glyphicon-chevron-right {
            display: none;
        }
    }
    .left-bar {
        display: block;
    }
    #accordion, #filter-accordion, #filter-bar {
        .panel-title {
            position: relative;
        }
        #full-page-one {
            > label {
                width: 100%;
            }
        }
        #full-page-Two {
            padding: 0;
            .panel-title a {
                padding: 8px 10px;
                width: 100%;
                background: #ddd;
            }
        }
        .panel-collapse {
            padding: 5px 0;
        }
        .filter {
            .head {
                width: 100%;
                padding: 10px;
                border-bottom: 1px solid #222222;
                clear: both;
                float: left;
                .glyphicon {
                    float: left;
                }
                .search {
                    width: 60%;
                    float: left;
                    input {
                        padding: 2px 4px;
                        line-height: auto;
                        height: auto;
                    }
                    .input-group-addon {
                        padding: 4px;

                    }
                }
                .sort {
                    float: right;
                    .glyphicon {
                        float: right;
                        width: auto;
                        font-size: 14px;
                        cursor: pointer;
                        padding: 2px 5px 0;
                    }
                }
            }
            .filter-list {
                border-top: 1px solid #666666;
                clear: both;
                padding: 10px;
                width: 100%;
                label {
                    width: 100%;
                    float: left;
                    clear: both;
                }
            }
            .pagination {
                width: 100%;
                text-align: center;
                margin: 0 0 -4px;
                .small-text {
                    font-size: 12px;
                    display: block;
                    text-align: right;
                    padding: 5px;
                }
                .glyphicon {
                    background: none repeat scroll 0 0 #333333;
                    border: 1px solid #222222;
                    display: block;
                    float: left;
                    padding: 10px 0;
                    text-align: center;
                    top: 0;
                    width: 25%;
                    cursor: pointer;
                }
            }
        }
        #filters {
            margin: 0 5px;
        }
    }
}

.left-bar-switch, .filter-bar {
    z-index: 11;
    position: fixed;
    overflow-y: auto;
    top: 43px;
    border-right: 2px solid @brand-primary;
    .visualize {
        clear: both;
        width: 100%;
        #full-page-one {
            > label {
                padding: 6px 0 0;
                width: 100%;
            }
        }
    }
    @media (max-width: @screen-xs-max) {
        &.col-sm-1, &.col-xs-1 {
            .filter-toggle {
                display: block;
            }
            .panel-title {
                a {
                    display: none;
                }
                .glyphicon {
                    text-align: center;
                    width: 100%;
                }
                .title {
                    display: none;
                }
            }
            .panel-collapse {
                display: none;
            }
        }

        &.col-sm-3, &.col-xs-6 {
            .filter-toggle {
                display: block;
            }
            .panel-title {
                a {
                    display: inline;
                }
                .title {
                    display: inline;
                }
            }
        }
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        &.col-sm-1, &.col-xs-1 {
            .filter-toggle {
                display: block;
            }
            .panel-title {
                a {
                    display: none;
                }
                .glyphicon {
                    text-align: center;
                    width: 100%;
                }
                .title {
                    display: none;
                }
            }
            .panel-collapse {
                display: none;
            }
        }

        &.col-sm-3, &.col-xs-6 {
            .filter-toggle {
                display: block;
            }
            .panel-title {
                a {
                    display: inline;
                }
                .title {
                    display: inline;
                }
            }
        }
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        .filter-toggle {
            display: none;
        }

        .panel-title {
            a {
                display: inline;
            }
            .title {
                display: inline;
            }
        }
    }
    @media (min-width: @screen-lg-min) {
        .filter-toggle {
            display: none;
        }

        .panel-title {
            a {
                display: inline;
            }
            .title {
                display: inline;
            }
        }
    }
    .glyphicon {
        float: right;
        &.glyphicon-chevron-left {
            padding: 10px 14px 0 0;
            top: 43px;
        }
        &.glyphicon-chevron-right {
            display: none;
        }
    }
    .left-bar {
        display: block;
    }
    #accordion, #filter-accordion, #filter-bar {
        .panel-title {
            position: relative;
            color: #333;
        }
        #full-page-Two {
            padding: 0;
            .panel-title a {
                padding: 8px 10px;
                width: 100%;
                background: #ddd;
            }
        }
        .panel-collapse {
            padding: 5px 0;
        }
        .filter {
            .head {
                width: 100%;
                padding: 10px;
                border-bottom: 1px solid #222222;
                clear: both;
                float: left;
                .glyphicon {
                    float: left;
                }
                .search {
                    width: 60%;
                    float: left;
                    input {
                        padding: 2px 4px;
                        line-height: auto;
                        height: auto;
                    }
                    .input-group-addon {
                        padding: 4px;

                    }
                }
                .sort {
                    float: right;
                    .glyphicon {
                        float: right;
                        width: auto;
                        font-size: 14px;
                        cursor: pointer;
                        padding: 2px 5px 0;
                    }
                }
            }
            .filter-list {
                border-top: 1px solid #666666;
                clear: both;
                padding: 10px;
                width: 100%;
                label {
                    width: 100%;
                    float: left;
                    clear: both;
                }
            }
            .pagination {
                width: 100%;
                text-align: center;
                margin: 10px 0 -4px;
                .small-text {
                    font-size: 12px;
                    display: block;
                    text-align: right;
                    padding: 5px;
                }
                .glyphicon {
                    background: none repeat scroll 0 0 #ddd;
                    border: 1px solid #eee;
                    display: block;
                    float: left;
                    padding: 10px 0;
                    text-align: center;
                    top: 0;
                    width: 25%;
                    cursor: pointer;
                }
            }
        }
        #filters {
            margin: 0 5px;
        }
    }
}

.left-bar-switch {
    z-index: 12;
}

#collapseFilters {
    padding: 0;
    margin: 0;
    ul {
        padding: 0;
        margin: 0 2%;
        width: 96%;
        li {
            clear: both;
            float: left;
            margin: 0;
            width: 100%;
            h4 {
                padding: 8px;
                margin: 0;
                cursor: pointer;
                &.open {
                    background: darken(@brand-primary, 15%);
                }
            }
            .filter-content {
                padding: 8px;
            }
        }
    }
}

#collapse-visualize > label {
    clear: both;
    float: left;
    font-weight: normal;
}

#side-bar {
    top: 42px;
    .modal-side-bar {
        background: #fff;
        height: 100%;
        overflow-y: auto;
        .modal-body {
            padding: 0;
            overflow: visible;
        }
        .accordion {
            padding: 0;
            margin: 0;
            float: left;
            width: 100%;
            font-size: @font-size-large;
            ul {
                margin: 0 auto;
                padding: 0;
                width: 100%;
                background: #eee;
                &.children-full-list {
                    position: absolute;
                    left: 105%;
                    top: 0;
                    width: 66%;
                    a{
                        border-bottom: 1px dashed #ccc;
                    }
                }
            }
            li {
                clear: both;
                float: left;
                margin: 0;
                width: 100%;
                &:first-child {
                    border-top: none;
                }
                &:last-child {
                    border-bottom: none;
                }
                a {
                    color: #666;
                    border-bottom: 1px solid #eee;
                    float: left;
                    padding: 10px 10px 10px 15px;
                    width: 100%;
                    .glyphicon {
                        float: left;
                        padding: 3px 10px 0 0;
                    }
                    .glyphicon-chevron-down {
                        float: right;
                    }
                    .glyphicon-chevron-up {
                        display: none;
                    }
                    &.active {
                        .glyphicon-chevron-down {
                            display: none;
                        }
                        .glyphicon-chevron-up {
                            display: inline;
                            float: right;
                        }
                    }
                    &.has-child {
                        .glyphicon-chevron-up, .glyphicon-chevron-down {
                            display: none;
                        }
                        .glyphicon-chevron-right {
                            float: right;
                            display: inline;
                        }
                        &.active {
                            width: 102%;
                            background: #eee;
                            color: #222;
                            .glyphicon-chevron-right {
                                color: #eee;
                                display: inline;
                                float: right;
                                font-size: 20px;
                                margin: 0 -15px 0 0;
                                padding: 0;
                            }
                        }
                    }
                }
                li a {
                    padding: 5px 5px 5px 15px;
                    border-bottom: 1px dashed #eee;
                }
            }

        }
    }
}
