/*
  SmartWizard 2.0 plugin 
  jQuery Wizard control Plugin
  by Dipu
  
  http://www.techlaboratory.net
  http://tech-laboratory.blogspot.com
*/
.swMain {
    padding: 0 10px;
    .stepContainer {
        height: auto !important;
        .StepTitle {
            clear: both;
            float: left;
            margin: 20px 0 !important;
            width: 100%;
        }
    }

    .stepContainer div.content {
        padding: 0 20px;
        top: 20px;
        height: 300px;
        overflow-y: auto;
    }

    div.actionBar {
        float: right;
        margin: 35px 0 0;
        padding: 0 20px;
    }
    ul.anchor {
        position: relative;
        text-align: center;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 10px 0;
        clear: both;
        border: 0 solid #CCCCCC;
        background: transparent; /*#EEEEEE */
        li {
            padding: 0 5px;
        }
        /* Anchor Element Style */
        li a {
            display: block;
            position: relative;
            margin: 5px 0 0 0;
            padding: 3px;
            height: 70px;
            
            text-decoration: none;
            outline-style: none;
            z-index: 9;
        }
        li a .stepNumber {
            float: left;
            font-size: 16px;
            margin: 0;
            padding: 0 5px;
            position: relative;
            text-align: center;
            width: 30px;
        }
        li a .stepDesc {
            clear: both;
            float: left;
            font-size: 22px;
            margin: -27px 0 0;
            padding: 5px;
            width: 100%;
            .small-text {
                font-size: 12px;
                display: block;
            }
        }
        li a.selected {
            color: #F8F8F8;
            background: @brand-primary; /* EA8511 */
            border: 5px solid darken(@brand-primary, 15%);
        }
        li a.selected:hover {
            color: #F8F8F8;
            background: #EA8511;
        }

        li a.done {
            position: relative;
            color: #FFF;
            background: #8CC63F;
            border: 5px solid #8CC63F;
            z-index: 9;
        }
        li a.done:hover {
            color: #5A5655;
            background: #8CC63F;
            border: 5px solid #5A5655;
        }
        li a.disabled {
            color: #CCCCCC;
            background: #F8F8F8;
            border: 5px solid #CCC;
            cursor: text;
        }
        li a.disabled:hover {
            color: #CCCCCC;
            background: #F8F8F8;
        }

        li a.error {
            color: #6c6c6c !important;
            background: #f08f75 !important;
            border: 1px solid #fb3500 !important;
        }
        li a.error:hover {
            color: #000 !important;
        }
    }

    .buttonNext {
        display: block;
        float: right;
        margin: 5px 3px 0 3px;
        padding: 5px;
        text-decoration: none;
        text-align: center;
        font: bold 13px Verdana, Arial, Helvetica, sans-serif;
        color: #FFF;
        outline-style: none;
        background-color: #5A5655;
        border: 1px solid #5A5655;
    }
    .buttonDisabled {
        color: #F8F8F8 !important;
        background-color: #CCCCCC !important;
        border: 1px solid #CCCCCC !important;
        cursor: text;
    }
    .buttonPrevious {
        display: block;
        float: right;
        margin: 5px 3px 0 3px;
        padding: 5px;
        text-decoration: none;
        text-align: center;
        font: bold 13px Verdana, Arial, Helvetica, sans-serif;
        color: #FFF;
        outline-style: none;
        background-color: #5A5655;
        border: 1px solid #5A5655;
    }
    .buttonFinish {
        display: block;
        float: right;
        margin: 5px 10px 0 3px;
        padding: 5px;
        text-decoration: none;
        text-align: center;
        font: bold 13px Verdana, Arial, Helvetica, sans-serif;
        color: #FFF;
        outline-style: none;
        background-color: #5A5655;
        border: 1px solid #5A5655;
    }

    /* Form Styles */

    .txtBox {
        border: 1px solid #CCCCCC;
        color: #5A5655;
        font: 13px Verdana, Arial, Helvetica, sans-serif;
        padding: 2px;
        width: 430px;
    }
    .txtBox:focus {
        border: 1px solid #EA8511;
    }

    .loader {
        position: relative;
        display: none;
        float: left;
        margin: 2px 0 0 2px;
        padding: 8px 10px 8px 40px;
        border: 1px solid #FFD700;
        font: bold 13px Verdana, Arial, Helvetica, sans-serif;
        color: #5A5655;
        background: #FFF url(../images/loader.gif) no-repeat 5px;
        z-index: 998;
    }
    .msgBox {
        position: relative;
        display: none;
        float: left;
        margin: 4px 0 0 5px;
        padding: 5px;
        border: 1px solid #FFD700;
        background-color: #FFFFDD;
        font: normal 12px Verdana, Arial, Helvetica, sans-serif;
        color: #5A5655;
        z-index: 999;
        min-width: 200px;
    }
    .msgBox .content {
        font: normal 12px Verdana, Arial, Helvetica, sans-serif;
        padding: 0;
        float: left;
    }
    .msgBox .close {
        border: 1px solid #CCC;
        border-radius: 3px;
        color: #CCC;
        display: block;
        float: right;
        margin: 0 0 0 5px;
        outline-style: none;
        padding: 0 2px 0 2px;
        position: relative;
        text-align: center;
        text-decoration: none;
    }
    .msgBox .close:hover {
        color: #EA8511;
        border: 1px solid #EA8511;
    }
}