html {
    height: 100%;
    body {
        height: 100%;
        .form-group.last {
            margin-bottom: 0px;
        }
        .pop-full {
            height: 100%;
        }
        .details {
            height: 100%;
            margin-bottom: 50px;
        }
        footer {
            position: absolute;
            bottom: 0;
            z-index: 1;
        }
    }
}

.container {
    width: 100% !important;
    padding: 0 !important;
}

nav {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    .nav {
        li {
            border-left: 1px solid rgba(255, 255, 255, 0.1);
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            .btn-group {
                position: static;
            }
        }
    }
    .logo {
        padding: 10px 0 4px 10px;
        height: 35px;
    }
    a.home {
        float: left;
        padding: 10px 15px !important;
        position: relative;
        z-index: 10;
        .glyphicon {
            color: #FFFFFF;
            font-size: 16px;
            &:hover {
                color: @white;
            }
        }
    }
    .btn-login {
        background: @btn-primary-bg;
        color: @white;
        float: right;
        padding: 11px 15px;
        border-radius: 0;
        font-weight: @btn-primary-font-weight;
    }
    .dropdown-menu {
        background: darken(@btn-primary-bg, 20%);
        > li > a {
            color: @white;
            &:hover {
                background: darken(@brand-primary-dark, 15%);
            }
        }
        .divider {
            background: lighten(@brand-primary-dark, 15%);
        }
    }
    .btn-group {
        display: inline;
    }
}

.content {
    float: left;
    width: 100%;
    top: 43px;
    position: relative;
    .details {
        padding-bottom: 60px;
        h2 {
            margin: 15px 0 0 15px;
        }
        .full-graph-view {
            width: 90%;
            margin: 0 auto;
            max-height: 500px;
        }
    }
    .back-lay {
        width: 100%;
        height: 100%;
        z-index: 10;
        position: fixed;
        height: 2000px;
        display: none;
    }
}

#filter-collapseOne {
    padding: 0;
}

.time-frame {
    text-align: center;
    overflow: hidden;
    .year {
        display: inline-block;
        width: 210px;
        .carousel {
            float: left;
            label {
                width: 100%;
            }
        }
    }
    .quarter {
        width: 175px;
    }
    .btn-group {
        top: -12px;
        position: relative;
    }
    @media (max-width: @screen-xs-max) {
        .btn-group {
            top: -2px;
        }
    }
    @media (min-width: 480px) and (max-width: @screen-sm-min) {
        .btn-group {
            top: -12px;
        }
    }
    .month {
        display: inline-block;
        .month-carousel {
            float: left;
            ul li label {
                width: 100%;
            }
        }
    }
    .button {
        background: #666;
        color: #FFFFFF;
        height: 31px;
        padding: 7px 0px 0px;
        width: 20px;
        float: left;
        cursor: pointer;
        &.prev {
            left: -20px;
        }
        &.next {
            right: 0;
        }
        &.month-prev {
            left: -20px;
        }
        &.month-next {
            right: 0;
        }

    }
    @media (max-width: @screen-xs-max) {
        .month {
            width: 286px;
            .month-carousel {
                width: auto;
            }
        }

        .button {
            &.month-prev {
                display: inline;
            }
            &.month-next {
                display: inline;
            }
        }
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        .month {
            width: 286px;
            .month-carousel {
                width: auto;
            }
        }

        .button {
            &.month-prev {
                display: inline;
            }
            &.month-next {
                display: inline;
            }
        }
    }
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        .month {
            width: auto;
            .month-carousel {
                width: auto !important;
            }
        }

        .button {
            &.month-prev {
                display: none;
            }
            &.month-next {
                display: none;
            }
        }
    }
    @media (min-width: @screen-lg-min) {
        .month {
            width: auto;
            .month-carousel {
                width: auto !important;
            }
        }

        .button {
            &.month-prev {
                display: none;
            }
            &.month-next {
                display: none;
            }
        }
    }
    .btn {
        padding: 6px 11px;
    }
    .btn-default {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        margin-right: 1px;
        padding: 6px 7px !important;
        &:hover {
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            border-left: 1px solid rgba(255, 255, 255, 0.1);
        }
        &:focus {
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            border-left: 1px solid rgba(255, 255, 255, 0.1);
        }
        &.selected {
            background: #569F84;
            box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
        }
    }
}

.maximize {
    a {
        color: @white;
        &:hover {
            color: @white;
        }
    }
}

.kpis {
    .file-menu {
        background: @title-bg;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 18px;
        position: absolute;
        right: 31px;
        text-align: center;
        top: 0;
        z-index: 1;
        .trigger {
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            padding: 5px 10px 0;
            display: inline-block;
        }
        .menu {
            li {
                background: @title-bg;
                padding: 4px 11px 2px 13px;
                font-size: 16px;
                &:first-child {
                    background: darken(@title-bg, 15%);
                }
            }
        }
    }
    &.col-md-12 {
        padding: 0;
    }
    .type {
        background: @brand-primary;
        color: #fff;
        float: left;
        font-size: @font-size-h2;
        text-align: center;
        width: 100%;
    }
    .data {
        background: @white;
        .graph-selection {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            text-align: center;
            z-index: 20;
            &.hide {
                display: none !important;
            }
            .glyphicon-remove {
                color: #FFFFFF;
                padding: 2px;
                position: absolute;
                right: 5px;
                top: 7px;
                cursor: pointer;
                font-size: 16px;
            }
        }
        .btn {
            margin: 5px;
            position: relative;
            top: 30px;
            background: @brand-primary;
            .graph {
                background-image: url(@chart-icon);
                width: 30px;
                height: 30px;
                float: left;
                &.AngualarGauge {
                    background-position: -15px -15px;
                }
                &.Area2D {
                    background-position: -15px -75px;
                }
                &.Bar2D {
                    background-position: -15px 120px;
                }
                &.Bubble {
                    background-position: -15px -195px;
                }
                &.Bulb {
                    background-position: -15px -255px;
                }
                &.Column2D {
                    background-position: -15px -375px;
                }
                &.Cylinder {
                    background-position: -15px -315px;
                }
                &.Doughnut2D {
                    background-position: -15px -375px;
                }
                &.Funnel {
                    background-position: -15px -435px;
                }
                &.Line {
                    background-position: -15px -495px;
                }
                &.MSArea {
                    background-position: -75px -15px;
                }
                &.MSBar2D {
                    background-position: -75px -75px;
                }
                &.MSColumn2D {
                    background-position: -75px -135px;
                }
                &.MSCombi2D {
                    background-position: -75px -195px;
                }
                &.MSCombiDY2D {
                    background-position: -75px -255px;
                }
                &.MSLine {
                    background-position: -75px -315px;
                }
                &.MSStackedColumn2D {
                    background-position: -75px -375px;
                }
                &.MSStackedColumn2DLineDY {
                    background-position: -75px -435px;
                }
                &.Pareto2D {
                    background-position: -75px -495px;
                }
                &.Pie2D {
                    background-position: -75px -555px;
                }
                &.Pyramid {
                    background-position: -135px -15px;
                }
                &.Scatter {
                    background-position: -135px -75px;
                }
                &.ScrollArea2D {
                    background-position: -135px -135px;
                }
                &.ScrollColumn2D {
                    background-position: -135px -195px;
                }
                &.ScrollCombi2D {
                    background-position: -135px -255px;
                }
                &.ScrollCombiDY2D {
                    background-position: -135px -315px;
                }
                &.ScrollLine2D {
                    background-position: -135px -375px;
                }
                &.SparkLine {
                    background-position: -135px -435px;
                }
                &.SSGrid {
                    background-position: -135px -495px;
                }
                &.StackedArea2D {
                    background-position: -135px -555px;
                }
                &.StackedBar2D {
                    background-position: -195px -15px;
                }
                &.StackedColumn2D {
                    background-position: -195px -75px;
                }
                &.Thermometer {
                    background-position: -195px -135px;
                }
                &.VBullet {
                    background-position: -195px -195px;
                }
                &.ZoomLine {
                    background-position: -195px -255px;
                }
                /*&.area-stacked-spine {
                    background-position: -195px -315px;
                }
                &.combi {
                    background-position: -195px -375px;
                }
                &.scroll-column {
                    background-position: -195px -435px;
                }
                &.scroll-stacked-column {
                    background-position: -195px -495px;
                }
                &.bar-range {
                    background-position: -255px -15px;
                }
                &.bar-stacked-full {
                    background-position: -255px -75px;
                }
                &.bar-stacked-full {
                    background-position: -255px -135px;
                }
                &.bar-stacked-sidebyside {
                    background-position: -255px -195px;
                }
                &.bubble {
                    background-position: -255px -255px;
                }
                &.angular-gauge {
                    background-position: -255px -315px;
                }
                &.combi-dy {
                    background-position: -255px -375px;
                }
                &.scroll-line {
                    background-position: -255px -435px;
                }
                &.spark-line {
                    background-position: -255px -495px;
                }*/
            }
        }
    }
    .full-width {
        margin: 0px 0px 40px;
        .section {
            border: 3px solid #fafafa;
            padding: 0;
            .title {
                background: @brand-second;
            }
        }
    }
    @media (max-width: @screen-xs-max) {
        .full-width {
            float: left;
            width: 100%;
            .section-outer {
                clear: both;
                float: left;
                margin: 0px 0px 20px;
                position: relative;
                width: 100%;
            }
            .section {
                padding: 0;
                clear: both;
                &.col-md-4 {
                    width: 100%;
                }
                .title {
                    position: relative;
                    color: @white;
                    width: 100%;
                    float: left;
                    font-size: @font-size-large;
                    .icon {
                        float: left;
                        border-right: 1px solid rgba(0, 0, 0, 0.1);
                        .glyphicon {
                            padding: 8px 10px;
                            width: 2em;
                        }
                    }
                    .name {
                        float: left;
                        text-align: left;
                        width: 71%;
                        padding: 5px;
                        height: 31px;
                        overflow: hidden;
                    }
                    .maximize {
                        float: right;
                        border-left: 1px solid rgba(0, 0, 0, 0.1);
                        .glyphicon {
                            cursor: pointer;
                            padding: 8px 10px;
                            width: 2em;
                        }
                    }
                }
                .data {
                    height: 190px;
                    overflow: hidden;
                    width: 100%;
                    position: relative;
                    img {
                        width: 100% !important;
                        height: auto !important;
                    }
                }
            }
        }
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        .full-width {
            float: left;
            width: 100%;
            .section-outer {
                clear: both;
                float: left;
                margin: 0 0 20px;
                position: relative;
                width: 100%;
            }
            .section {
                &.col-md-4 {
                    width: 33.333%;
                    float: left;
                }
                .title {
                    position: relative;
                    background: @title-bg;
                    color: @white;
                    width: 100%;
                    float: left;
                    font-size: @font-size-large;
                    .icon {
                        float: left;
                        border-right: 1px solid rgba(0, 0, 0, 0.1);
                        .glyphicon {
                            padding: 8px 10px;
                            width: 2em;
                        }
                    }
                    .name {
                        float: left;
                        text-align: left;
                        width: 54%;
                        padding: 5px;
                        height: 31px;
                        overflow: hidden;
                    }
                    .maximize {
                        float: right;
                        border-left: 1px solid rgba(0, 0, 0, 0.1);
                        .glyphicon {
                            cursor: pointer;
                            padding: 8px 10px;
                            width: 2em;
                        }
                    }
                }
                .data {
                    height: 190px;
                    overflow: hidden;
                    width: 100%;
                    img {
                        width: 100% !important;
                        height: auto !important;
                    }
                }
            }
        }
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        .full-width {
            float: left;
            width: 100%;
            .section-outer {
                clear: both;
                float: left;
                margin: 0 0 20px;
                position: relative;
                width: 100%;
            }
            .section {
                &.col-md-4 {
                    width: 33.333%;
                }
                .title {
                    position: relative;
                    background: @title-bg;
                    color: @white;
                    width: 100%;
                    float: left;
                    font-size: @font-size-large;
                    .icon {
                        float: left;
                        border-right: 1px solid rgba(0, 0, 0, 0.1);
                        .glyphicon {
                            padding: 8px 10px;
                            width: 2em;
                        }
                    }
                    .name {
                        float: left;
                        text-align: left;
                        width: 65%;
                        padding: 5px;
                        height: 31px;
                        overflow: hidden;
                    }
                    .maximize {
                        float: right;
                        border-left: 1px solid rgba(0, 0, 0, 0.1);
                        .glyphicon {
                            cursor: pointer;
                            padding: 8px 10px;
                            width: 2em;
                        }
                    }
                }
                .data {
                    height: 190px;
                    overflow: hidden;
                    width: 100%;
                    img {
                        width: 100% !important;
                        height: auto !important;
                    }
                }
            }
        }
    }

    @media (min-width: @screen-lg-min) {
        .full-width {
            float: left;
            width: 100%;
            .section-outer {
                clear: both;
                float: left;
                margin: 0 0 20px;
                overflow: hidden;
                position: relative;
                width: 100%;
            }
            .section {
                &.col-md-4 {
                    width: 33.333%;
                }
                .title {
                    position: relative;
                    background: @title-bg;
                    color: @white;
                    width: 100%;
                    float: left;
                    font-size: @font-size-large;
                    .icon {
                        float: left;
                        border-right: 1px solid rgba(0, 0, 0, 0.1);
                        .glyphicon {
                            padding: 8px 10px;
                            width: 2em;
                        }
                    }
                    .name {
                        float: left;
                        text-align: left;
                        width: 69%;
                        padding: 5px;
                        height: 31px;
                        overflow: hidden;
                    }
                    .maximize {
                        float: right;
                        border-left: 1px solid rgba(0, 0, 0, 0.1);
                        .glyphicon {
                            cursor: pointer;
                            padding: 8px 10px;
                            width: 2em;
                        }
                    }
                }
                .data {
                    height: 190px;
                    overflow: hidden;
                    width: 100%;
                    img {
                        width: 100% !important;
                        height: auto !important;
                    }
                }
            }
        }
    }
}

.pop-full {
    width: 100%;
    margin: 0 auto;
    .header {
        background: lighten(@brand-primary, 15%);
        .modal-title {
            border-bottom: 1px solid darken(@brand-primary, 15%);
            padding: 9px;
        }
    }
}

.file-menu {
    background: @brand-primary;
    color: #FFFFFF;
    font-size: 18px;
    position: relative;
    z-index: 10;
    text-align: center;
    cursor: pointer;
    float: left;
    .trigger {
        display: inline-block;
        padding: 10px 13px 5px;
    }
    .menu {
        position: absolute;
        list-style: none;
        padding: 0;
        margin: 0;
        top: 0;
        left: -1px;
        li {
            background: @brand-primary;
            padding: 10px 12px 3px 14px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            &:first-child {
                background: darken(@brand-primary, 10%);
            }
        }
    }
}

footer {
    background: #222;
    color: @white;
    float: left;
    margin: 20 px0px 0px;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed !important;
    bottom: 0;
    border-top: 1px solid @white;
    .copyright {
        text-align: center;
        > span {
            display: inline-block;
        }
        .version {
            margin: 0px 0px 0 40px;
        }
        .brand {
            color: @brand-green;
        }
    }
}

#notes-modal {
    textarea {
        height: 90px;
    }
    .note {
        margin: 10px 0;
        border-bottom: 1px solid @gray-lighter;
        padding: 0px 0px 10px;
        .glyphicon {
            cursor: pointer;
        }
    }
}

#calendar-accordion {
    min-height: 40px;
    li {
        list-style: none;
        float: left;
    }
    .panel-heading {
        position: absolute;
        right: 0;
        display: none;
        .panel-title > a {
            display: block;
        }
    }
    @media (max-width: @screen-xs-max) {
        .panel-heading {
            display: block;
        }
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        .panel-heading {
            display: block;
        }
    }
}

.header .file-menu .menu li:first-child {
    padding: 6px 10px;
}

footer {
    position: relative;
    z-index: 11;
}

.alert-validation {
    border-color: #EBCCD1;
    color: #A94442;
}

.asterik {
    &:after {
        color: @brand-red;
        content: "*";
        position: absolute;
        right: -10px;
        top: 0;
    }
}